@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin:0;
    padding: 0;
    font-family:sans-serif;
}

:root{
    --primary-color: #1E293B;
    --background: #0F172A;
    --primary-text:#E5E7EB;
    --accent:#0d488c;
    --accent-hover:#165cc5;
    --secondary-text:#838994;
}


.dark{

    --primary-color: #1E293B;
    --background: #0F172A;
    --primary-text:#E5E7EB;
    --accent:#0d488c;
    --accent-hover:#165cc5;
    --secondary-text:#9ea4ae;

}

.light{
    --primary-color: #faf8fa;
    --background: #ffffff;
    --primary-text:#0e0e24;
    --accent:#0d488c;
    --accent-hover:#165cc5;
    --secondary-text:#474747;
}
